/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: rgb(118, 118, 146);
  color: white;
  padding: 10px;
  max-width: 100%;
}
.nav-bar ul {
  float: left;
  margin-left: 3%;
  max-width: 20%;
}

.nav-bar ul li {
  display: inline-block;
  margin-right: 10px;
}

.nav-bar h2 {
  float: left;
  margin-left: 30%;
  margin-right: 33%;
  max-width: 10%;
}

#donate-btn,
#volunteer-btn {
  padding: 7px 10px;
  max-width: 20%;
}

#intro-section {
  background-color: rgb(118, 118, 146);
  height: 300px;
  width: 100%;
  padding: 20%;
  text-align: center;
}

#intro-section h1 {
  text-align: center;
  font-size: 3rem;
}

#intro-section p {
  margin: 42px 0;
  font-size: 1.6rem;
  font-weight: 300;
}

#intro-section a {
  font-size: 1.4rem;
}

#why-section {
  text-align: center;
  padding: 100px 20px;
}

#why-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(72, 72, 88);
}

#why-section p {
  font-size: 20px;
  color: rgb(72, 72, 88);
  font-weight: 300;
}

#visit-gym-section,
#visit-you-section {
  width: 50%;
  float: left;
  background: gray;
  text-align: center;
  padding: 50px 100px 150px 100px;
}

#volunteer-section {
  float: left;
  width: 100%;
  padding: 100px 20px;
  text-align: center;
}

#volunteer-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(72, 72, 88);
}

#volunteer-section p {
  font-size: 20px;
  color: rgb(72, 72, 88);
  font-weight: 300;
}

footer {
  float: left;
  background-color: rgb(13, 13, 22);
  width: 100%;
  padding: 20px;
}

footer p {
  color: grey;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
